#root{
    --light-color: #F6F4EB;
    --pastel-color: #D7D4B9;
    --blue-color: #91C8E4;
    --blue2-color: #749BC2;
    --blue3-color: #4682A9;
    --orange-color: #D7693C;
    --dark-color: #282828;

}

/*---------
Header
----------*/

.site-header { 
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: .5em 4em;
    align-items: center;
}

.site-header::after {
content: "";
display: table;
clear: both;
}

.site-identity {
    float: left;
    padding-top: 1.5em;
  }

.site-identity img {

    margin: 0 10px 0 0;
    max-width: 20em;
    height: auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.profile-container {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }

/*--------
Menu
 --------*/

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 0.5em 22em 0 1.5em;
    max-width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid #eee;
  
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  .item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color 0.3s ease-out;
    text-decoration: none;
    color: #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;

    &.active {
      color: #fff;
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }
}

/*---------
Account Drop
 ----------*/

.accountDrop{
  position: absolute;
  top: 16.1%;
  right: 1.5%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 10em;
}
  

/*-----
Footer
-----*/

footer {
    background-color: var(--dark-color);
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}