main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .titulo-main {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .main-home {
    margin-right: 20px;
  }
  
  .panel {
    width: 500px;
    height: 300px;
    border: 1px solid black;
  }
  
  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
  }
  
  #delete-modal.show, #restore-modal.show {
    display: block;
  }